<h1>Listing teams</h1>




  <thead>
    <tr>
      <th>Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>

   <td align="center" colspan="5"><h1>Current Team List</h1></td>
    
    <% @teams.each_with_index do |team, index| %>
  </tr>

      <tr>

        <td>Team <%= index+1 %>: </td>

        <td><%= team.join(', ') %></td>

      </tr>

  <% end %>

  <tr>

   <td height="80" align="center" colspan="2">

    <div class="green_btn one-row">

      <a href="/teams/make_teams">Make New Teams</a>

    </div>

    <div class="green_btn one-row">

      <a href="/students">Student List</a>

    </div>

   </td>

 </tr>
    
  </tbody>


<br>

<%= link_to 'New Team', new_team_path %>
